# Handling Missing Values

#### 1. use python dropna function
#### 2. use python fillna function
#### 3. use interpolate method
#### 4. use python replace function

In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [16]:
df_sales = pd.read_excel('04 Handling Missing Data using Python_Saless.xlsx')
df_sales

,Date,Store_Type,City_Type,Day_Temp,No_of_Customers,Sales,Product_Quality
0,2020-10-01,1,1,30.0,100.0,3112.0,A
1,2020-10-02,2,1,32.0,115.0,3682.0,A
2,2020-10-03,3,3,31.0,NaN,2774.0,A
3,2020-10-04,1,2,29.0,105.0,3182.0,NaN
4,2020-10-05,1,2,33.0,104.0,1368.0,B
5,2020-10-07,2,2,NaN,NaN,NaN,B
6,2020-11-24,2,3,26.0,90.0,4232.0,C
7,2020-11-25,3,3,NaN,96.0,NaN,NaN
8,2020-11-26,2,2,27.0,100.0,2356.0,B
9,2020-11-28,3,1,NaN,NaN,NaN,A
10,2020-11-29,1,1,23.0,94.0,1254.0,A
11,2020-11-30,1,1,22.0,91.0,4232.0,A

In [17]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             12 non-null     datetime64[ns]
 1   Store_Type       12 non-null     int64
 2   City_Type        12 non-null     int64
 3   Day_Temp         9 non-null      float64
 4   No_of_Customers  9 non-null      float64
 5   Sales            9 non-null      float64
 6   Product_Quality  10 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 804.0+ bytes

In [18]:
df_sales_nan = df_sales.dropna()
df_sales_nan

,Date,Store_Type,City_Type,Day_Temp,No_of_Customers,Sales,Product_Quality
0,2020-10-01,1,1,30.0,100.0,3112.0,A
1,2020-10-02,2,1,32.0,115.0,3682.0,A
4,2020-10-05,1,2,33.0,104.0,1368.0,B
6,2020-11-24,2,3,26.0,90.0,4232.0,C
8,2020-11-26,2,2,27.0,100.0,2356.0,B
10,2020-11-29,1,1,23.0,94.0,1254.0,A
11,2020-11-30,1,1,22.0,91.0,4232.0,A

In [19]:
df_sales_nan = df_sales.dropna(how='all')
df_sales_nan

,Date,Store_Type,City_Type,Day_Temp,No_of_Customers,Sales,Product_Quality
0,2020-10-01,1,1,30.0,100.0,3112.0,A
1,2020-10-02,2,1,32.0,115.0,3682.0,A
2,2020-10-03,3,3,31.0,NaN,2774.0,A
3,2020-10-04,1,2,29.0,105.0,3182.0,NaN
4,2020-10-05,1,2,33.0,104.0,1368.0,B
5,2020-10-07,2,2,NaN,NaN,NaN,B
6,2020-11-24,2,3,26.0,90.0,4232.0,C
7,2020-11-25,3,3,NaN,96.0,NaN,NaN
8,2020-11-26,2,2,27.0,100.0,2356.0,B
9,2020-11-28,3,1,NaN,NaN,NaN,A
10,2020-11-29,1,1,23.0,94.0,1254.0,A
11,2020-11-30,1,1,22.0,91.0,4232.0,A

In [20]:
df_sales_nan = df_sales.dropna(thresh=1)
df_sales_nan

,Date,Store_Type,City_Type,Day_Temp,No_of_Customers,Sales,Product_Quality
0,2020-10-01,1,1,30.0,100.0,3112.0,A
1,2020-10-02,2,1,32.0,115.0,3682.0,A
2,2020-10-03,3,3,31.0,NaN,2774.0,A
3,2020-10-04,1,2,29.0,105.0,3182.0,NaN
4,2020-10-05,1,2,33.0,104.0,1368.0,B
5,2020-10-07,2,2,NaN,NaN,NaN,B
6,2020-11-24,2,3,26.0,90.0,4232.0,C
7,2020-11-25,3,3,NaN,96.0,NaN,NaN
8,2020-11-26,2,2,27.0,100.0,2356.0,B
9,2020-11-28,3,1,NaN,NaN,NaN,A
10,2020-11-29,1,1,23.0,94.0,1254.0,A
11,2020-11-30,1,1,22.0,91.0,4232.0,A